flow.json
[
  {
    "id": "a564595f.642818",
    "type": "tab",
    "label": "Main"
  },
  {
    "id": "dcf23843.ed7e38",
    "type": "sqlite",
    "z": "a564595f.642818",
    "mydb": "10e21852.df8ad8",
    "sqlquery": "msg.topic",
    "sql": "",
    "name": "tilt",
    "x": 410,
    "y": 140,
    "wires": [
      [
        "ca253356.17a7b",
        "dc2a5981.a3a878",
        "b0de16bc.7c0968"
      ]
    ]
  },
  {
    "id": "5fa0284b.54c188",
    "type": "inject",
    "z": "a564595f.642818",
    "name": "view records",
    "topic": "SELECT * FROM data ORDER BY timestamp DESC LIMIT 1;",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 170,
    "y": 120,
    "wires": [
      [
        "dcf23843.ed7e38"
      ]
    ]
  },
  {
    "id": "ca253356.17a7b",
    "type": "ui_text",
    "z": "a564595f.642818",
    "group": "b642e71.9697318",
    "order": 0,
    "width": "2",
    "height": "2",
    "name": "",
    "label": "Gravity",
    "format": "{{msg.payload[0].gravity}}",
    "layout": "row-spread",
    "x": 580,
    "y": 140,
    "wires": []
  },
  {
    "id": "b0de16bc.7c0968",
    "type": "debug",
    "z": "a564595f.642818",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "payload",
    "x": 680,
    "y": 220,
    "wires": []
  },
  {
    "id": "dc2a5981.a3a878",
    "type": "ui_template",
    "z": "a564595f.642818",
    "group": "b642e71.9697318",
    "name": "",
    "order": 1,
    "width": 0,
    "height": 0,
    "format": "<table style=\"width:100%\">\n  <tr>\n    <th>Gravity</th> \n    <th>Temp</th>\n    <th>Timestamp</th>\n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:20\">\n    <td>{{$index}}</td>\n    <td>{{msg.payload[$index].gravity}}</td> \n    <td>{{msg.payload[$index].temp}}</td>\n    <td>{{msg.payload[$index].timestamp}}</td>\n  </tr>\n</table>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "templateScope": "local",
    "x": 560,
    "y": 80,
    "wires": [
      []
    ]
  },
  {
    "id": "89cd94d3.af92d8",
    "type": "inject",
    "z": "a564595f.642818",
    "name": "create table",
    "topic": "CREATE TABLE IF NOT EXISTS data(id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,gravity INTEGER,temp INTEGER,timestamp DATETIME DEFAULT CURRENT_TIMESTAMP NOT NULL);",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 190,
    "y": 60,
    "wires": [
      [
        "dcf23843.ed7e38"
      ]
    ]
  },
  {
    "id": "10e21852.df8ad8",
    "type": "sqlitedb",
    "z": "",
    "db": "/etc/tilty/tilt.sqlite",
    "mode": "RO"
  },
  {
    "id": "b642e71.9697318",
    "type": "ui_group",
    "z": "",
    "name": "1",
    "tab": "4ede131f.f2e09c",
    "order": 1,
    "disp": false,
    "width": "6"
  },
  {
    "id": "4ede131f.f2e09c",
    "type": "ui_tab",
    "z": "",
    "name": "Tilt Pi",
    "icon": "fa-tachometer",
    "order": 1
  }
]
